<div class="blog-wrap">
  <div class="blog-img">
    <a href="{{ article.url }}">
      {{ article | img_url: '370x280', crop:'center' | img_tag: article.title }}
    </a>
  </div>
  <div class="blog-content">
    <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>
    <div class="blog-meta">
      <ul>
        <li><a href="#">{{ article.published_at |date: "%d %b, %Y" }}</a></li>
        <li>-</li>
        <li>By <a href="#">{{ article.author }}</a></li>
      </ul>
    </div>
    <p>{{ article.content | strip_html | truncatewords: 10 }}</p>
    <div class="blog-btn">
      <a href="{{ article.url }}">{{ 'blogs.article.read_more' | t }} &rarr;</a>
    </div>
  </div>
</div>


