<div class="shop-sidebar-style mt-15 mr-50">
  {% for block in section.blocks %}
  {% case block.type %}
  {% when 'category' %}
  <div class="sidebar-widget mb-60">
    {%- if block.settings.widget_title != '' -%}
    <h4 class="pro-sidebar-title">{{ block.settings.widget_title }} </h4>
    {%- endif -%}
    <div class="sidebar-widget-categories  mt-50">
      <ul>
        {% assign categories_list_limit = block.settings.categories_list_limit_hanlde %}
        {% for c in collections limit: categories_list_limit %}
        <li class="{% if collection and collection.handle == c.handle %}active{% endif %}"><a href="{{ c.url }}">{{ c.title }} <span>({{ c.products_count }})</span></a></li>
        {% endfor %}
      </ul>
    </div>
  </div>

  {% when 'color' %}
  <div class="sidebar-widget mb-50">
    {%- if block.settings.widget_title != '' -%}
    <h4 class="pro-sidebar-title">{{ block.settings.widget_title }}</h4>
    {%- endif -%}
    <div class="sidebar-widget-color mt-50">
      <ul>
        {% assign tags = block.settings.color_picker | replace: ', ', ',' | replace: ' ,', ',' | split: ',' %}
        {% assign colors_list_limit = block.settings.colors_list_limit_hanlde %}

        {% for t in tags limit: colors_list_limit %}
        {% assign tag = t | strip %}
        {%- if current_tags contains tag -%}
        <li><a class="{{ tag }} active" style="background: {{ tag }} no-repeat center; background-size: initial;" href="/collections/all/{{ tag | handle }}">{{ tag }}</a></li>
        {%- elsif collection.all_tags contains tag -%}
        <li><a class="{{ tag }}" style="background: {{ tag }} no-repeat center; background-size: initial;" href="/collections/all/{{ tag | handle }}">{{ tag }}</a></li>
        {%- endif -%}
        {% endfor %}
      </ul>
    </div>
  </div>

  {% when 'size' %}
  <div class="sidebar-widget mb-55">
    {%- if block.settings.widget_title != '' -%}
    <h4 class="pro-sidebar-title">{{ block.settings.widget_title }}</h4>
    {%- endif -%}
    <div class="sidebar-widget-size mt-55">
      <ul>
        {% assign tags = block.settings.size_picker | replace: ', ', ',' | replace: ' ,', ',' | split: ',' %}
        {% assign size_list_limit = block.settings.size_list_limit_hanlde %}

        {% for t in tags limit: size_list_limit %}
        {% assign tag = t | strip %}
        {%- if current_tags contains tag -%}
        <li class="active"><a href="/collections/all/{{ tag | handle }}">{{ tag }}</a></li>
        {%- elsif collection.all_tags contains tag -%}
        <li><a href="/collections/all/{{ tag | handle }}">{{ tag }}</a></li>
        {%- endif -%}
        {% endfor %}
      </ul>
    </div>
  </div>
  

  {% when 'vendor' %}
  <div class="sidebar-widget mb-60">
    {%- if block.settings.widget_title != '' -%}
    <h4 class="pro-sidebar-title">{{ block.settings.widget_title }}</h4>
    {%- endif -%}
    <div class="sidebar-widget-brand mt-50">
      <ul>
        {% assign vendors_list_limit = block.settings.vendors_list_limit_hanlde %}
        {% for vendor in shop.vendors limit: vendors_list_limit %}
        <li>
          <div class="sidebar-widget-list-left">
            <input type="checkbox"{% if collection.current_vendor == vendor %} checked{% endif %}><a href="{{ vendor | url_for_vendor }}">{{ vendor }}</a>
            <span class="checkmark"></span>
          </div>  
        </li> 
        {% endfor %}
      </ul>
    </div>
  </div>
  

  {% when 'tag' %}
  <div class="sidebar-widget mb-60">
    {%- if block.settings.widget_title != '' -%}
    <h4 class="pro-sidebar-title">{{ block.settings.widget_title }}</h4>
    {%- endif -%}
    <div class="sidebar-widget-tags mt-55">
      <ul>
        {% assign tags_list_limit = block.settings.tags_list_limit_hanlde %}
        {% for tag in collection.all_tags limit: tags_list_limit %}
        {%- if current_tags contains tag -%}
        <li class="active"><a href="/collections/all/{{ tag | handle }}">{{ tag }}</a></li>
        {%- else -%}
        <li><a href="/collections/all/{{ tag | handle }}">{{ tag }}</a></li>
        {%- endif -%}
        {% endfor %}
      </ul>
    </div>
  </div>
  
  {% when 'banner' %}
  {% capture i %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
  <div class="sidebar-widget">
    <div class="shop-sidebar-banner">
      {% if block.settings.banner_image != blank and block.settings.banner_image_url != blank %}
      <a href="{{ block.settings.banner_image_url }}">
        <img src="{{ block.settings.banner_image | img_url: 'grande' }}" alt="{{ block.settings.banner_image.alt }}">
      </a>
      {% elsif block.settings.banner_image != blank %}
      <img src="{{ block.settings.banner_image | img_url: 'grande' }}" alt="{{ block.settings.banner_image.alt }}">
      {% else %}
      {{ 'collection-' | append: i | placeholder_svg_tag: 'banner-svg-image' }}
      {% endif %}
    </div>
  </div>
  
  {% when 'recent-view' %}
  {% include 'recent-view' %}
  
  {% when 'search' %}
  <div class="sidebar-widget mb-60">
    {%- if block.settings.widget_title != '' -%}
    <h4 class="pro-sidebar-title">{{ block.settings.widget_title }}</h3>
    {%- endif -%}
    <div class="sidebar-widget-search mt-50">
      <form action="/search" method="get" role="search">
        <input type="hidden" name="type" value="product">
        <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}">
        <button type="submit">
          <span><i class="fa fa-search"></i></span>
        </button>
      </form>
    </div>
  </div>
  
  {% when 'type' %}
  <div class="sidebar-widget mb-60">
    {%- if block.settings.widget_title != '' -%}
    <h4 class="pro-sidebar-title">{{ block.settings.widget_title }}</h3>
    {%- endif -%}
    <div class="sidebar-widget-brand mt-50">
      <ul>
        {% assign types_list_limit = block.settings.types_list_limit_hanlde %}
        {% for type in shop.types limit: types_list_limit %}
        {%- if type != '' -%}
        <li>
          <div class="sidebar-widget-list-left">
            <input type="checkbox"{% if collection.current_type == type %} checked{% endif %}><a href="{{ type | url_for_type }}">{{ type }}</a>
            <span class="checkmark"></span>
          </div>  
        </li> 
        {%- endif -%}
        {% endfor %}
      </ul>
    </div>
  </div>
  
  {% when 'menu' %}
  <div class="sidebar-widget mb-60">
    {%- if block.settings.widget_title != '' -%}
    <h4 class="pro-sidebar-title">{{ block.settings.widget_title }}</h3>
    {%- endif -%}
    <div class="sidebar-widget-categories  mt-50">
      <ul>
        {% assign menu = block.settings.menu_handle %}
        {% for link in linklists[menu].links %}
        {% assign childlink_handle = link.title | handle %}
        {% if linklists[childlink_handle] and linklists[childlink_handle].links.size > 0 %}
        <li class="has-sub {% if link.active %}active{% endif %}"><a href="{{ link.url }}">{{ link.title }}</a>
          <ul>
            {% for childlink in linklists[childlink_handle].links %}
            <li><a href="{{ childlink.url }}">{{ childlink.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
        {% else %}
        <li class="{% if link.active %}active{% endif %}"><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>

  
  {% endcase %}
  {% endfor %}
</div>




{%comment%}


<div class="shop-sidebar"> 

  {% for block in section.blocks %}
  {% case block.type %}

  {% when 'recent-view' %}
  {% include 'recent-view' %}

  {% when 'search' %}
  <aside class="sidebar-widget">
    {%- if block.settings.widget_title != '' -%}
    <h3 class="widget-title">{{ block.settings.widget_title }}</h3>
    {%- endif -%}
    <form action="/search" method="get" role="search">
      <input type="hidden" name="type" value="product">
      <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}">
      <button type="submit">
        <span>{{ 'general.search.submit' | t }}</span>
      </button>
    </form>
  </aside>
  
  {% when 'category' %}
  <aside class="sidebar-widget">
    {%- if block.settings.widget_title != '' -%}
    <h3 class="widget-title">{{ block.settings.widget_title }}</h3>
    {%- endif -%}
    <ul>
      {% assign categories_list_limit = block.settings.categories_list_limit_hanlde %}
      {% for c in collections limit: categories_list_limit %}
      <li class="{% if collection and collection.handle == c.handle %}active{% endif %}"><a href="{{ c.url }}">{{ c.title }} <span>({{ c.products_count }})</span></a></li>
      {% endfor %}
    </ul>
  </aside>

  {% when 'vendor' %}
  <aside class="sidebar-widget">
    {%- if block.settings.widget_title != '' -%}
    <h3 class="widget-title">{{ block.settings.widget_title }}</h3>
    {%- endif -%}
    <ul>
      {% assign vendors_list_limit = block.settings.vendors_list_limit_hanlde %}
      {% for vendor in shop.vendors limit: vendors_list_limit %}
      <li class="{% if collection.current_vendor == vendor %}active{% endif %}"><a href="{{ vendor | url_for_vendor }}">{{ vendor }}</a></li> 
      {% endfor %}
    </ul>
  </aside>

  {% when 'type' %}
  <aside class="sidebar-widget">
    {%- if block.settings.widget_title != '' -%}
    <h3 class="widget-title">{{ block.settings.widget_title }}</h3>
    {%- endif -%}
    <ul>
      {% assign types_list_limit = block.settings.types_list_limit_hanlde %}
      {% for type in shop.types limit: types_list_limit %}
      {%- if type != '' -%}
      <li class="{% if collection.current_type == type %}active{% endif %}"><a href="{{ type | url_for_type }}">{{ type }}</a></li> 
      {%- endif -%}
      {% endfor %}
    </ul>
  </aside>

  {% when 'color' %}
  <aside class="sidebar-widget product-sidebar-color">
    {%- if block.settings.widget_title != '' -%}
    <h3 class="widget-title">{{ block.settings.widget_title }}</h3>
    {%- endif -%}
    <ul>
      {% assign tags = block.settings.color_picker | replace: ', ', ',' | replace: ' ,', ',' | split: ',' %}
      {% assign colors_list_limit = block.settings.colors_list_limit_hanlde %}

      {% for t in tags limit: colors_list_limit %}
      {% assign tag = t | strip %}
      {%- if current_tags contains tag -%}
      <li class="{{ tag }} active" style="background: {{ tag }} no-repeat center; background-size: initial;"><a href="/collections/all/{{ tag | handle }}">{{ tag }}</a></li>
      {%- elsif collection.all_tags contains tag -%}
      <li class="{{ tag }}" style="background: {{ tag }} no-repeat center; background-size: initial;"><a href="/collections/all/{{ tag | handle }}">{{ tag }}</a></li>
      {%- endif -%}
      {% endfor %}
    </ul>
  </aside>

  {% when 'size' %}
  <aside class="sidebar-widget">
    {%- if block.settings.widget_title != '' -%}
    <h3 class="widget-title">{{ block.settings.widget_title }}</h3>
    {%- endif -%}
    <ul>
      {% assign tags = block.settings.size_picker | replace: ', ', ',' | replace: ' ,', ',' | split: ',' %}
      {% assign size_list_limit = block.settings.size_list_limit_hanlde %}

      {% for t in tags limit: size_list_limit %}
      {% assign tag = t | strip %}
      {%- if current_tags contains tag -%}
      <li class="active"><a href="/collections/all/{{ tag | handle }}">{{ tag }}</a></li>
      {%- elsif collection.all_tags contains tag -%}
      <li><a href="/collections/all/{{ tag | handle }}">{{ tag }}</a></li>
      {%- endif -%}
      {% endfor %}
    </ul>
  </aside>

  {% when 'tag' %}
  <aside class="sidebar-widget">
    {%- if block.settings.widget_title != '' -%}
    <h3 class="widget-title">{{ block.settings.widget_title }}</h3>
    {%- endif -%}
    <ul>
      {% assign tags_list_limit = block.settings.tags_list_limit_hanlde %}
      {% for tag in collection.all_tags limit: tags_list_limit %}
      {%- if current_tags contains tag -%}
      <li class="active"><a href="/collections/all/{{ tag | handle }}">{{ tag }}</a></li>
      {%- else -%}
      <li><a href="/collections/all/{{ tag | handle }}">{{ tag }}</a></li>
      {%- endif -%}
      {% endfor %}
    </ul>
  </aside>

  {% when 'menu' %}
  <aside class="sidebar-widget category-sub-menu">
    {%- if block.settings.widget_title != '' -%}
    <h3 class="widget-title">{{ block.settings.widget_title }}</h3>
    {%- endif -%}
    <ul>
      {% assign menu = block.settings.menu_handle %}
      {% for link in linklists[menu].links %}
      {% assign childlink_handle = link.title | handle %}
      {% if linklists[childlink_handle] and linklists[childlink_handle].links.size > 0 %}
      <li class="has-sub {% if link.active %}active{% endif %}"><a href="{{ link.url }}">{{ link.title }}</a>
        <ul>
          {% for childlink in linklists[childlink_handle].links %}
          <li><a href="{{ childlink.url }}">{{ childlink.title }}</a></li>
          {% endfor %}
        </ul>
      </li>
      {% else %}
      <li class="{% if link.active %}active{% endif %}"><a href="{{ link.url }}">{{ link.title }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
  </aside>
  
  {% when 'banner' %}
  {% capture i %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
  <aside class="sidebar-widget">
    {%- if block.settings.widget_title != '' -%}
    <h3 class="widget-title">{{ block.settings.widget_title }}</h3>
    {%- endif -%}
    <div>
      {% if block.settings.banner_image != blank and block.settings.banner_image_url != blank %}
      <a href="{{ block.settings.banner_image_url }}">
        <img src="{{ block.settings.banner_image | img_url: 'grande' }}" alt="{{ block.settings.banner_image.alt }}">
      </a>
      {% elsif block.settings.banner_image != blank %}
      <img src="{{ block.settings.banner_image | img_url: 'grande' }}" alt="{{ block.settings.banner_image.alt }}">
      {% else %}
      {{ 'collection-' | append: i | placeholder_svg_tag: 'banner-svg-image' }}
      {% endif %}
    </div>
  </aside>

  {% endcase %}
  {% endfor %}

</div>

{%endcomment%}

<script>
  $(".sidebar-widget li.active a").removeAttr("href");

  $('.category-sub-menu li.has-sub > a').on('click', function () {
    $(this).removeAttr('href');
    var element = $(this).parent('li');
    if (element.hasClass('open')) {
      element.removeClass('open');
      element.find('li').removeClass('open');
      element.find('ul').slideUp();
    } else {
      element.addClass('open');
      element.children('ul').slideDown();
      element.siblings('li').children('ul').slideUp();
      element.siblings('li').removeClass('open');
      element.siblings('li').find('li').removeClass('open');
      element.siblings('li').find('ul').slideUp();
    }
  }); 
</script>