{% if section.settings.instagram_style == 'instagram_style_1' %}

<div class="instagram-feed" id="section-{{ section.id }}" data-section-type="instafeed-section" data-section-id="{{ section.id }}">
  {% if section.settings.section_title != '' %}
  <div class="container{% if section.settings.fullwidth_on %}-fluid{%endif%}">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2>{{ section.settings.section_title }}</h2>
        </div>
      </div>
    </div>
  </div>
  <br>
  {% endif %}
  <div class="container{% if section.settings.fullwidth_on %}-fluid{%endif%}">
    <div class="row">
      <div class="col-12">
        <div id="instafeed" class="multiple-items"></div>
      </div>
    </div>
  </div>
</div>

<script>
  (function ($) {
    "use strict";

    jQuery(document).ready(function(){

      var userFeed = new Instafeed({
        get: 'user',
        userId: '{{ section.settings.instafeed_user_id }}',
        limit: '{{ section.settings.instafeed_limit }}',
        accessToken: '{{ section.settings.instafeed_access_token }}',
        resolution: '{{ section.settings.image_resolution }}',
        
        template: '<a href="\{\{link\}\}"><img src="\{\{image\}\}"></a>'
        
      });
      userFeed.run();
    });

  })(jQuery); 
</script>

{% elsif section.settings.instagram_style == 'instagram_style_2' %}

<div class="instagram-area pt-120 pb-120" id="section-{{ section.id }}" data-section-type="instafeed-section" data-section-id="{{ section.id }}">
  <div class="container{% if section.settings.fullwidth_on %}-fluid{% endif %}">
    <div class="row align-items-center">
      {% if section.settings.section_title != '' %}
      <div class="col-lg-4">
        <div class="section-title-1-content section-title-ntv-mrg">
          {% if section.settings.section_sub_title != '' %}
          <span>{{ section.settings.section_sub_title }}</span>
          {% endif %}
          <h2>{{ section.settings.section_title }}</h2>
        </div>
      </div>
      {% endif %}
      <div class="col-lg-8">
        <div class="instagram-feed-thumb">
          <div id="instafeed" class="instagram-wrap-1">
          </div>
          <div class="instra-more">
            <a href="{{ section.settings.instagram_more_url }}">{{ section.settings.instagram_more }} <i class=" ti-plus "></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  (function ($) {
    "use strict";

    jQuery(document).ready(function(){

      var userFeed = new Instafeed({
        get: 'user',
        userId: '{{ section.settings.instafeed_user_id }}',
        limit: '{{ section.settings.instafeed_limit }}',
        accessToken: '{{ section.settings.instafeed_access_token }}',
        resolution: '{{ section.settings.image_resolution }}',
        template: '<div class="single-instafeed"><li><a href="\{\{link\}\}"><img src="\{\{image\}\}"></a></li></div>'
        
      });
      userFeed.run();
    });

  })(jQuery); 
</script>

{% elsif section.settings.instagram_style == 'instagram_style_3' %}


<div class="instagram-area section-padding-5" id="section-{{ section.id }}">
  <div class="container{% if section.settings.fullwidth_on %}-fluid{%endif%} p-0">
    <div class="row no-gutters">
      <div class="col-12">
        {% if section.settings.section_title != '' %}
        <div class="section-title-10 text-center mb-50">
          <h2>{{ section.settings.section_title }}</h2>
        </div>
        {% endif %}
        <div class="instagram-feed-thumb-3">
          <div id="instafeed" class="instagram-wrap-3 instagram-pink-color">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  (function ($) {
    "use strict";

    jQuery(document).ready(function(){

      var userFeed = new Instafeed({
        get: 'user',
        userId: '{{ section.settings.instafeed_user_id }}',
        limit: '{{ section.settings.instafeed_limit }}',
        accessToken: '{{ section.settings.instafeed_access_token }}',
        resolution: '{{ section.settings.image_resolution }}',
        template: '<div class="single-instafeed-3"><li><a href="\{\{link\}\}" target="_new"><img src="\{\{image\}\}" /><i class="fa fa-search"></i></a></li></div>'
        
      });
      userFeed.run();
    });

  })(jQuery); 
</script>


{% elsif section.settings.instagram_style == 'instagram_style_4' %}


<div class="instagram-area section-padding-1 kids-instagram-pb" id="section-{{ section.id }}">
  
  {% if section.settings.animate_img_top_left %}
  <div class="kids-monster-1 wow fadeInLeft" data-wow-delay=".5s">
    <img src="{{ section.settings.animate_img_top_left | img_url: 'master' }}" class="lazyload" alt="kids">
  </div>
  {% endif %}
  {% if section.settings.animate_img_top_right %}
  <div class="kids-monster-2 wow fadeInRight" data-wow-delay=".5s">
    <img src="{{ section.settings.animate_img_top_right | img_url: 'master' }}" class="lazyload" alt="kids">
  </div>
  {% endif %}
  
  <div class="bg-img kids-instagram-pt" style="background-image:url({% if section.settings.instagram_bg_img %}{{ section.settings.instagram_bg_img | img_url: 'master' }}{% else %}https://via.placeholder.com/1920x785{% endif %});">
    <div class="container{% if section.settings.fullwidth_on %}-fluid{%endif%}">
      <div class="bg-white pt-150 instagram-4-area instagram-border-radious">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 ml-auto mr-auto">
              {% if section.settings.section_title != '' %}
              <div class="section-title-8 text-center mb-50">
                <h2>{{ section.settings.section_title }}</h2>
              </div>
              {% endif %}
              <div class="instagram-feed-thumb-4">
                <div id="instafeed" class="instagram-wrap-4">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  (function ($) {
    "use strict";

    jQuery(document).ready(function(){

      var userFeed = new Instafeed({
        get: 'user',
        userId: '{{ section.settings.instafeed_user_id }}',
        limit: '{{ section.settings.instafeed_limit }}',
        accessToken: '{{ section.settings.instafeed_access_token }}',
        resolution: '{{ section.settings.image_resolution }}',
        template: '<div class="single-instafeed-4"><li><a href="\{\{link\}\}" target="_new"><img src="\{\{image\}\}" /></a></li></div>'
        
      });
      userFeed.run();
    });

  })(jQuery); 
</script>



{% elsif section.settings.instagram_style == 'instagram_style_5' %}

<div class="instagram-area section-padding-5 pt-110 pb-120" id="section-{{ section.id }}">
  <div class="container{% if section.settings.fullwidth_on %}-fluid{%endif%}">
    {% if section.settings.section_title != '' %}
    <div class="section-title-6 text-center mb-60">
      <h2>{{ section.settings.section_title }}</h2>
    </div>
    {% endif %}
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="instagram-feed-thumb-2">
          <div id="instafeed" class="instagram-wrap-2">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<script>
  (function ($) {
    "use strict";

    jQuery(document).ready(function(){

      var userFeed = new Instafeed({
        get: 'user',
        userId: '{{ section.settings.instafeed_user_id }}',
        limit: '{{ section.settings.instafeed_limit }}',
        accessToken: '{{ section.settings.instafeed_access_token }}',
        resolution: '{{ section.settings.image_resolution }}',
        template: '<div class="single-instafeed-2"><li><a href="\{\{link\}\}" target="_new"><img src="\{\{image\}\}" /></a></li></div>'
        
      });
      userFeed.run();
    });

  })(jQuery); 
</script>


{% elsif section.settings.instagram_style == 'instagram_style_6' %}

<div class="instagram-area section-padding-5" id="section-{{ section.id }}">
  <div class="container{% if section.settings.fullwidth_on %}-fluid{%endif%} p-0">
    <div class="row no-gutters">
      <div class="col-12">
        {% if section.settings.section_title != '' %}
        <div class="section-title-9 st-dec-2-font text-center mb-60">
          <h2>{{ section.settings.section_title }}</h2>
        </div>
        {% endif %}
        <div class="instagram-feed-thumb-3">
          <div id="instafeed" class="instagram-wrap-3">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<script>
  (function ($) {
    "use strict";

    jQuery(document).ready(function(){

      var userFeed = new Instafeed({
        get: 'user',
        userId: '{{ section.settings.instafeed_user_id }}',
        limit: '{{ section.settings.instafeed_limit }}',
        accessToken: '{{ section.settings.instafeed_access_token }}',
        resolution: '{{ section.settings.image_resolution }}',
        template: '<div class="single-instafeed-3"><li><a href="\{\{link\}\}" target="_new"><img src="\{\{image\}\}" /></a><i class="fa fa-search"></i></li></div>'
        
      });
      userFeed.run();
    });

  })(jQuery); 
</script>





{% endif %}




<!--
<script>
  
  {% comment %} If instafeed have carousel then use "jQuery On Load" function {% endcomment %}
  jQuery(window).on('load', function () {
    
    // Carousel activation code
        
  });
</script>
-->




<script src="{{ 'instafeed.min.js' | asset_url }}"></script>