{%- comment -%} "theme-default-pagination" this Class is needed for active page pagination button disable{%- endcomment -%}
{% if paginate.pages > 1 %}
<div class="theme-default-pagination">
  <nav class="pagination">
    <ul class="">
      {% if paginate.previous %}
      <li>
        <a href="{{ paginate.previous.url }}" aria-label="Previous">
          <span aria-hidden="true">Prev</span>
        </a>
      </li>
      {% else %}
      <li class="disabled prev">
        <a href="#">
          <span>Prev</span>
        </a>
      </li>
      {% endif %}
      {% for part in paginate.parts %}
      {% if part.is_link %}
      <li>
        <a href="{{ part.url }}" title="">{{ part.title }}</a>
      </li>
      {% else %}
      {% if part.title == paginate.current_page %}
      <li><a class="active" href="">{{ part.title }}</a></li>
      {% else %}
      <li><a href="#">{{ part.title }}</a></li>
      {% endif %}
      {% endif %}
      {% endfor %}
      {% if paginate.next %}
      <li class="next"><a href="{{ paginate.next.url }}" title="{{ paginate.next.title }}"><span aria-hidden="true">Next</span></a></li>
      {% else %}
      <li class="disabled next">
        <a href="#">
          <span>Next</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
{% endif %}

<script>
  $(".theme-default-pagination .disabled a").removeAttr("href");
  $(".theme-default-pagination li.active a").removeAttr("href");
</script>