{%- assign on_sale = false -%}
{%- if product.compare_at_price > product.price -%}
{%- assign on_sale = true -%}
{%- endif -%}

{%- assign sold_out = true -%}
{%- if product.available -%}
{%- assign sold_out = false -%}
{%- endif -%}

{%- assign variant = product.selected_or_first_available_variant -%}

{%- if product.available -%}
{%- assign func = "Shopify.addItem(" | append: variant.id | append: ", 1)" -%}
{%- endif -%} 


{% comment %} "{{ variant.id }}" this Class is needed for Ajax popup cart {% endcomment %}

<!--  Single Grid product Start -->

<div class="{{ variant.id }} kids-pro-top-wrap pro-border-yellow">
  
  
  {% if product.featured_image.src != blank %}
  <a href="{{ product.url | within: collection }}">
    <img src="{{ product.featured_image.src | img_url : 'large' }}" class="lazyload" alt="{{ image.alt | escape }}">
  </a>
  {% else %}
  <a class="image-wrap" href="{{ product.url | within: collection }}" >
    {% capture current %}{% cycle 1, 2, 3 %}{% endcapture %}
    <div style="padding: 6px 0;">
      {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
  </a>
  {% endif %}
  <div class="kids-pro-top-content text-center">
    <h3><a href="{{ product.url | within: collection }}">{{ product.title }}</a></h3>
  </div>

</div>
