<div class="login-register-area pt-120 pb-120">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 ml-auto mr-auto">
        <div class="login-register-wrap">
          <div id="CustomerLoginForm">
            {% form 'customer_login' %}
            {{ form.errors | default_errors }}
            <h3><i class="fa fa-user-o"></i> {{ 'customer.login.title' | t }}</h3>
            {%- if settings.login_sub_text != '' -%}
            <p>{{ settings.login_sub_text }}</p>
            {%- endif -%}
            <div class="login-register-form">
              <div class="sin-login-register">
                <input type="email" name="customer[email]" id="CustomerEmail" class="input-full{% if form.errors contains 'email' %} error{% endif %}" placeholder="{{ 'customer.login.email' | t }}" autocorrect="off" autocapitalize="off" autofocus>
              </div>
              {% if form.password_needed %}
              <div class="sin-login-register">
                <input type="password" value="" name="customer[password]" id="CustomerPassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'customer.login.password' | t }}">
              </div>
              {% endif %}
              <div class="login-register-btn">
                <div class="form-action-button">
                  <button type="submit" class="login">{{ 'customer.login.sign_in' | t }}</button>
                  {% if form.password_needed %}
                  <a href="#recover" id="RecoverPassword">{{ 'customer.login.forgot_password' | t }}</a>
                  {% endif %}
                </div>
                <div class="account-optional-action">
                  
                  <h3><i class="fa fa-user-o"></i> {{ 'layout.customer.create_account' | t | customer_register_link }}</h3>
                </div>
              </div>
            </div>
            {% endform %}
          </div>
          <div id="RecoverPasswordForm" style="display: none;">
            {% form 'recover_customer_password' %}
            {{ form.errors | default_errors }}
            {% if form.posted_successfully? %}
            {% assign resetPassword = true %}
            {% endif %}
            <div class="login-form-container">
              <div class="login-text">
                <h2>{{ 'customer.recover_password.title' | t }}</h2>
                <p>{{ 'customer.recover_password.subtext' | t }}</p>
              </div>
              <div class="login-form">
                <input type="email" value="" name="email" id="RecoverEmail" class="input-full" placeholder="{{ 'customer.recover_password.email' | t }}" autocorrect="off" autocapitalize="off">
                <div class="login-toggle-btn">
                  <div class="form-action-button">
                    <button type="submit" class="theme-default-button">{{ 'customer.recover_password.submit' | t }}</button>
                    <a href="#" id="HideRecoverPasswordLink">{{ 'customer.recover_password.cancel' | t }}</a>
                  </div>
                </div>
              </div>
            </div>
            {% endform %}
          </div>
          {% if shop.checkout.guest_login %}
          <div id="guest-login">
            <div class="guest-form-container">
              <h2>{{ 'customer.login.guest_title' | t }}</h2>
              {% form 'guest_login' %}
              <input type="submit" class="theme-default-button" value="{{ 'customer.login.guest_continue' | t }}">
              {% endform %}
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

