<!-- blog area start -->
<div class="blog-area pt-120 pb-120">
  <div class="container{% if section.settings.enable_full_area %}-fluid{%endif%}">
    <div class="row {% if section.settings.sidebar_handle == 'left_sidebar_handle' %}flex-row-reverse{% endif %}">
      <div class="{% if section.settings.sidebar_handle == 'without_sidebar' %}col-lg-12{% else %}col-lg-9{% endif %}">
        <div class="blog-details-wrap ml-20">          
          <div class="blog-details-content">
            <div class="blog-details-img">
              <img src="{{ article | img_url: 'master' }}" alt="{{ article.image.alt }}">
            </div>
            <h3>{{ article.title }}</h3>           
            <div class="blog-meta-5">
              <ul>
                <li>By <a href="#">{{ article.author }}</a></li>
                <li>-</li>
                <li><a href="#">{{ article.published_at |date: "%d %b, %Y" }}</a></li>
              </ul>
            </div>
            {{ article.content }}
          </div>
          <div class="blog-details-tag-social">
            <div class="blog-details-tag">
              {% include 'tags-article-2' %}
            </div>
            {% include 'blog-share' %}            
          </div>
          {% if blog.next_article or blog.previous_article %}
          <div class="next-prev-wrap">
            {% if blog.previous_article %}
            <div class="next-wrap next-prev-conent">
              <span class="left">
                &larr; {{ 'blogs.article.older_post' | t | link_to: blog.previous_article }}
              </span>
            </div>
            {% endif %}
            {% if blog.next_article %}
            <div class="prev-wrap next-prev-conent">
              <span class="right">
                {{ 'blogs.article.newer_post' | t | link_to: blog.next_article }} &rarr;
              </span>
            </div>
            {% endif %}
          </div>
          {% endif %} 
          {%- if article.comments_enabled? -%}
          {%- assign comment_post_limit = section.settings.comment_post_limit_handle -%}
          {%- paginate article.comments by comment_post_limit -%}
          {% comment %} "Comments" ID will be included in the comment section {% endcomment %}
          <div id="comments" class="comment-success">
            {%- if comment and comment.created_at -%}
            <p class="note form-success">
              {%- if blog.comments_modareted? -%}
              {{ 'blogs.comments.success_moderated' | t }}            
              {%- else -%}
              {{ 'blogs.comments.success' | t }}
              {%- endif -%}
            </p>
            {%- endif -%}
            {%- if article.comments.size > 0 -%}
            <div class="blog-comments-area">
              {%- include 'blog-comments' -%}
            </div>
            {%- endif -%}
            {%- if paginate.pages > 1 -%}
            <div class="comment-pagination">
              {% include 'pagination' %}
            </div>
            {%- endif -%}
            <div class="comment-form">
              {%- include 'blog-comment-form' -%}
            </div>
          </div>
          {%- endpaginate -%}
          {%- endif -%}
        </div>
      </div>
      {%- unless section.settings.sidebar_handle == 'without_sidebar' -%}
      <div class="col-lg-3">
        {% include 'blog-sidebar' %}
      </div>
      {%- endunless -%}
    </div>
  </div>
</div>
<!-- blog area end -->


{% schema %}
  {
    "name": "Article Page",
    "settings": [
		{
          "type": "header",
          "content": "Container Width "
        },
		{
          "type": "checkbox",
          "id": "enable_full_area",
          "label": "Enable Full Width",
          "default": false
        },
		{
			"type": "header",
			"content": "Comment Box"
		},
		{
			"type": "image_picker",
			"id": "commentator_image",
			"label": "Comment Thumb Image",
			"info": "Recommended Size: 80 x 80px"
		},
		{
            "type": "range",
            "id": "comment_post_limit_handle",
            "min": 1,
            "max": 10,
            "step": 1,
            "label": "How Many Comment Post Show",
            "default": 5
        },
		{
			"type": "header",
			"content": "Article Sidebar"
		},
		{
			"type": "radio",
			"id": "sidebar_handle",
			"label": "Sidebar Position -",
			"options": [
				{
					"label": "Left Sidebar",
					"value": "left_sidebar_handle"
				},
				{
					"label": "Right Sidebar",
					"value": "right_sidebar_handle"
				},
				{
					"label": "Without Sidebar",
					"value": "without_sidebar"
				}
			],
			"default": "left_sidebar_handle"
		}
	],
	 "blocks":[
		{
          "type": "search",
          "name": "Search",
		  "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "widget_title",
              "label": "Title",
              "default": "Search"
            }
          ]
       },
	   {
          "type": "recent_post",
          "name": "Recent Post",
		  "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "recent_post_title",
              "label": "Recent Post Title",
              "default": "Recent Post"
			},
            {
              "type": "range",
              "id": "recent_post_limit_handle",
              "min": 2,
              "max": 10,
              "step": 1,
              "label": "Post Limit",
              "default": 3
            }
          ]
       },
	   {
          "type": "archive",
          "name": "Archive",
		  "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "archive_title",
              "label": "Archive Title",
              "default": "Archive"
            }
          ]
       },
	   {
          "type": "tag",
          "name": "Tag",
		  "limit": 1,
          "settings": [
            {
              "type": "text",
              "id": "blog_tags_title",
              "label": "Tags Title",
              "default": "Tags"
			},
            {
              "type": "range",
              "id": "blog_tags_list_limit_handle",
              "min": 5,
              "max": 20,
              "step": 1,
              "label": "Tag Limit",
              "default": 10
            }
          ]
       },
	   {
          "type": "menu",
          "name": "Menu",
          "settings": [
            {
              "type": "text",
              "id": "menu_title",
              "label": "Menu Title",
              "default": "Custom Menu"
            },
			{
              "type": "link_list",
              "id": "menu_handle",
              "label": "Menu"
            }
          ]
       }
	]
  }
{% endschema %}