<div class="product-area cake-product-mrg1 pb-85" id="section-{{ section.id }}">
  <div class="container{% if section.settings.fullwidth_on %}-fluid{% endif %}">
    {% if section.settings.section_title != blank %}
    <div class="section-title-10 text-center mb-50">
      {% if section.settings.section_icon_img_enable %}
      <img src="{% if section.settings.section_title_icon %}{{ section.settings.section_title_icon | img_url: 'master' }}{% else %}https://via.placeholder.com/60x46 {% endif %}" class="lazyload" alt="product">
      {% endif %}
      <h2>{{ section.settings.section_title }}</h2>
      {% if section.settings.section_subtitle != blank %}
      <p>{{ section.settings.section_subtitle }}</p>
      {%endif%}
    </div>
    {%endif%}
    
    
    {% for block in section.blocks %}
    {% case block.type %}
    {% when 'single_ctg' %}
    <div class="product-cake-wrap pb-100">
      <div class="row {% if block.settings.row_reverse %}flex-row-reverse{% endif %} align-items-center">
        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="product-cake-img">
            <a href="{{ block.settings.button_url }}">
              <img src="{% if block.settings.banner_img %}{{ block.settings.banner_img | img_url: 'master' }}{% else %}https://via.placeholder.com/555x530 {% endif %}" class="lazyload" alt="product">
            </a>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="product-cake-content">
            {% if block.settings.category_title != blank %}
            <h2><a href="{{ block.settings.button_url }}">{{ block.settings.category_title }}</a></h2>
            {%endif%}
            {% if block.settings.category_desc != blank %}
            <p>{{ block.settings.category_desc }}</p>
            {%endif%}
            {% if block.settings.button_title != blank %}
            <div class="btn-style-3 btn-hover-2">
              <a class="animated bs3-white-text bs3-pink-bg bs3-ptb-5 bs3-border-radius hover-text-white ptb-3-black-hover" href="{{ block.settings.button_url }}">{{ block.settings.button_title }}</a>
            </div>
            {%endif%}
          </div>
        </div>
      </div>
    </div>
    {% endcase %}
    {% endfor %}
    
  </div>
</div>





{%- style -%}
  #section-{{ section.id }}{
    {%- for block in section.blocks -%}
    {%- case block.type -%}
    {%- when 'section_margin' -%}
    margin-top: {{ block.settings.section_margin_top }}px;
    margin-bottom: {{ block.settings.section_margin_bottom }}px;
    {%- when 'section_padding' -%}
    padding-top: {{ block.settings.section_padding_top }}px;
    padding-bottom: {{ block.settings.section_padding_bottom }}px;
    {%- when 'section_background' -%}    
    background: {{ block.settings.section_bg_color }} 
      {%- if block.settings.section_bg_image -%}url("{{ block.settings.section_bg_image | img_url: 'master' }}"){%- endif -%} no-repeat scroll center center / cover;
    {%- endcase -%}
    {%- endfor -%}
  }
  @media (min-width: 768px) and (max-width: 991px) {
    #section-{{ section.id }}{
      {%- for block in section.blocks -%}
      {% case block.type %}
      {%- when 'section_margin' -%}
      margin-top: {{ block.settings.section_margin_top_md }}px;
      margin-bottom: {{ block.settings.section_margin_bottom_md }}px;
      {%- when 'section_padding' -%}
      padding-top: {{ block.settings.section_padding_top_md }}px;
      padding-bottom: {{ block.settings.section_padding_bottom_md }}px;
      {%- endcase -%}
      {%- endfor -%}
    }
  }
  @media (max-width: 767px) {
    #section-{{ section.id }}{
      {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'section_margin' -%}
      margin-top: {{ block.settings.section_margin_top_xs }}px;
      margin-bottom: {{ block.settings.section_margin_bottom_xs }}px;
      {%- when 'section_padding' -%}
      padding-top: {{ block.settings.section_padding_top_xs }}px;
      padding-bottom: {{ block.settings.section_padding_bottom_xs }}px;
      {%- endcase -%}
      {%- endfor -%}
    }
  }

{% if section.settings.category_content_enable %}

.section-title-10 h2 {
    color: {{ section.settings.section_title_color }};
}
.section-title-10 p {
    color: {{ section.settings.section_subtitle_color }};
}

.product-cake-wrap .product-cake-content h2 a {
    color: {{ section.settings.pro_cat_title_color }};
}
.product-cake-wrap .product-cake-content p {
    color: {{ section.settings.pro_cat_content_color }};
}

.btn-style-3 a.bs3-pink-bg {
    background-color: {{ section.settings.pro_cat_button_bg_color }};
}
.btn-style-3 a.bs3-white-text {
    color: {{ section.settings.pro_cat_button_color }};
}

.btn-hover-2 a.ptb-3-black-hover::after {
    background: {{ section.settings.pro_cat_button_bg_hover_color }};
}
.btn-style-3 a.bs3-ptb-5.hover-text-white:hover {
    color: {{ section.settings.pro_cat_button_color_hov }};
}

{%endif%}


{%- endstyle -%}



{% schema %}
{
  "name": "Featured Categories Three",
  "settings": [ 
        {
          "type": "checkbox",
          "id": "fullwidth_on",
          "label": "Full Width Enable",
          "default": false,
          "info": "If you want Full Width click checkbox"
        },
		{
          "type": "checkbox",
          "id": "section_icon_img_enable",
          "label": "Section Title Icom Image Enable",
          "default": true,
          "info": "If you want Section Title Icon Image click checkbox"
        },
        {
          "type": "image_picker",
          "id": "section_title_icon",
          "label": "Section Title Icon Image",
          "info": "Recommended Size: 60 x 46 px"
        },
        {
          "type": "text",
          "id": "section_title",
          "label": "Section Title", 
          "default": "Can’t Eat Just One"
        },
		{
          "type": "text",
          "id": "section_subtitle",
          "label": "Section Subtitle"
        },
		{
          "type": "header",
          "content": "Content Style"
        },
        {
          "type": "checkbox",
          "id": "category_content_enable",
          "label": "Category / Product Content Style Enable",
          "default": true
        },
		{
          "type": "color",
          "id": "section_title_color",
          "label": "Section Title Color",
          "default": "#ef8da1"
        },
		{
          "type": "color",
          "id": "section_subtitle_color",
          "label": "Section Subtitle Color",
          "default": "#393939"
        },
		{
          "type": "color",
          "id": "pro_cat_title_color",
          "label": "Product / Category Title Color",
          "default": "#1b1b1b"
        },
		{
          "type": "color",
          "id": "pro_cat_content_color",
          "label": "Product / Category Description Color",
          "default": "#8b8b8b"
        },
        {
          "type": "color",
          "id": "pro_cat_button_color",
          "label": "Button Color",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "pro_cat_button_bg_color",
          "label": "Button BG Color",
          "default": "#ef8da1"
        },
        {
          "type": "color",
          "id": "pro_cat_button_color_hov",
          "label": "Button Hover Color",
          "default": "#393939"
        },
        {
          "type": "color",
          "id": "pro_cat_button_bg_hover_color",
          "label": "Button Hover BG Color",
          "default": "#fff"
        }
  ],
  "blocks":[
      {
          "type": "single_ctg",
          "name": "Single Collections",
          "settings": [
  			{
              "type": "checkbox",
              "id": "row_reverse",
              "label": "Row reverse Enable",
              "default": false,
              "info": "If you want row reverse click checkbox"
            },
            {
              "type": "image_picker",
              "id": "banner_img",
              "label": "Product / Category Image",
              "info": "Recommended Size: 555 x 530px"
            },
            {
              "type": "text",
              "id": "category_title",
              "label": "Product / Category Title", 
              "default": "Blueberry friands"
            },
			{
              "type": "text",
              "id": "category_desc",
              "label": "Product / Category Description", 
              "default": "Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas venenatis posuere volutpat. Mauris laore"
            },
            {
              "type": "text",
              "id": "button_title",
              "label": "Button Title", 
              "default": "Eat now"
            },
			{
              "type": "url",
              "id": "button_url",
              "label": "Button URL"
            }

          ]
        },
	   	{
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 115
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 120
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 90
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 50
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
  ],
  "presets":[
    {
      "name": "Featured Categories Three",
	  "category": "3. collections",
      "blocks":[
        {
          "type": "single_ctg"
        },        
		{
          "type": "single_ctg"
        },
        {
          "type": "single_ctg"
        },
		{
          "type": "single_ctg"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
