<div class="shop-area pt-120 pb-120" id="section-{{ section.id }}">
  <div class="container{% if section.settings.fullwidth_on %}-fluid{% endif %}">
    
    {% for block in section.blocks %}
    {% case block.type %}
    {% when 'shop_collection' %}
    <div class="shop-collections-wrap mb-90">
      <div class="row {% if block.settings.image_right_side %}flex-row-reverse{% endif %} align-items-center">
        <div class="col-lg-{{ block.settings.banner_col_lg }} col-md-{{ block.settings.banner_col_md }}">
          <div class="shop-collections-img">
            <a href="{{ block.settings.button_url }}"><img src="{% if block.settings.collection_images %}{{ block.settings.collection_images | img_url: 'master' }}{% else %}https://via.placeholder.com/570x620 {% endif %}" alt="product"></a>
          </div>
        </div>
        <div class="col-lg-{{ block.settings.banner_col_lg }} col-md-{{ block.settings.banner_col_md }}">
          <div class="shop-collections-content">
            {%if block.settings.collection_sub_title != '' %}
            <span>{{ block.settings.collection_sub_title }}</span>
            {% endif %}

            
            {%if block.settings.collection_title != '' %}
            <h2><a href="{{ block.settings.button_url }}">{{ block.settings.collection_title }}</a></h2>
            {% endif %}
            
            {%if block.settings.collection_desc != '' %}
            <p>{{ block.settings.collection_desc }}</p>
            {% endif %}
            
            {%if block.settings.button_title != '' %}
            <div class="collections-btn btn-hover">
              <a class="theme-color-yellow" href="{{ block.settings.button_url }}">{{ block.settings.button_title }}</a>
            </div>
            {% endif %}
            
          </div>
        </div>
      </div>
    </div>
    {% endcase %}
    {% endfor %}
    

  </div>
</div>


{%- style -%}
  #section-{{ section.id }}{
    {%- for block in section.blocks -%}
    {%- case block.type -%}
    {%- when 'section_margin' -%}
    margin-top: {{ block.settings.section_margin_top }}px;
    margin-bottom: {{ block.settings.section_margin_bottom }}px;
    {%- when 'section_padding' -%}
    padding-top: {{ block.settings.section_padding_top }}px;
    padding-bottom: {{ block.settings.section_padding_bottom }}px;
    {%- when 'section_background' -%}    
    background: {{ block.settings.section_bg_color }} 
      {%- if block.settings.section_bg_image -%}url("{{ block.settings.section_bg_image | img_url: 'master' }}"){%- endif -%} no-repeat scroll center center / cover;
    {%- endcase -%}
    {%- endfor -%}
  }
  @media (min-width: 768px) and (max-width: 991px) {
    #section-{{ section.id }}{
      {%- for block in section.blocks -%}
      {% case block.type %}
      {%- when 'section_margin' -%}
      margin-top: {{ block.settings.section_margin_top_md }}px;
      margin-bottom: {{ block.settings.section_margin_bottom_md }}px;
      {%- when 'section_padding' -%}
      padding-top: {{ block.settings.section_padding_top_md }}px;
      padding-bottom: {{ block.settings.section_padding_bottom_md }}px;
      {%- endcase -%}
      {%- endfor -%}
    }
  }
  @media (max-width: 767px) {
    #section-{{ section.id }}{
      {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'section_margin' -%}
      margin-top: {{ block.settings.section_margin_top_xs }}px;
      margin-bottom: {{ block.settings.section_margin_bottom_xs }}px;
      {%- when 'section_padding' -%}
      padding-top: {{ block.settings.section_padding_top_xs }}px;
      padding-bottom: {{ block.settings.section_padding_bottom_xs }}px;
      {%- endcase -%}
      {%- endfor -%}
    }
  }
{%- endstyle -%}


{% schema %}
  	{
		"name": "Shop Collection / Product",
		"settings": [
            {
              "type": "header",
              "content": "Container Width"
            },
            {
              "type": "checkbox",
              "id": "fullwidth_on",
              "label": "Full Width Enable",
              "default": false,
              "info": "If you want Full Width click checkbox"
            }
		],
        "blocks":[
			   {
                  "type": "shop_collection",
                  "name": "Shop Collection / Product",
                  "settings": [
                      {
                        "type": "range",
                        "id": "banner_col_lg",
                        "min": 1,
                        "max": 12,
                        "step": 1,
                        "label": "Column LG",
                        "default": 6,
                        "info": "Follow Bootstrap-4 Column"
                      },
					  {
                        "type": "range",
                        "id": "banner_col_md",
                        "min": 1,
                        "max": 12,
                        "step": 1,
                        "label": "Column MD",
                        "default": 6,
                        "info": "Follow Bootstrap-4 Column"
                      },
                      {
                          "type": "image_picker",
                          "id": "collection_images",
                          "label": "Collection Image",
                          "info": "Recommended Size: 570 x 620 px"
                      },
					  {
                        "type": "text",
                        "id": "collection_sub_title",
                        "label": "Collection Sub Title",
                        "default": "#Popular Collections"
                      },
					  {
                        "type": "text",
                        "id": "collection_title",
                        "label": "Collection Title",
                        "default": "Spring/Summer Colors"
                      },
					  {
                        "type": "text",
                        "id": "collection_desc",
                        "label": "Collection Description",
						"default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                      },
					  {
                        "type": "text",
                        "id": "button_title",
                        "label": "Button Title",
                        "default": "Shop Now"
                      },
					  {
                        "type": "url",
                        "id": "button_url",
                        "label": "Button URL One"
                      },
                      {
                        "type": "checkbox",
                        "id": "image_right_side",
                        "label": "Images Right Side",
                        "default": false,
                        "info": "If you want Image Right Side click checkbox"
                      }
				 ]
               },
               {
                  "type": "section_margin",
                  "name": "Section Margin",
                  "limit": 1,
                  "settings": [
                    {
                      "type": "header",
                      "content": "Large/Desktop/Tablate Device"
                    },
                    {
                      "type": "range",
                      "id": "section_margin_top",
                      "min": 0,
                      "max": 150,
                      "step": 5,
                      "label": "Margin Top",
                      "unit": "px",
                      "default": 0
                    },
                    {
                      "type": "range",
                      "id": "section_margin_bottom",
                      "min": 0,
                      "max": 150,
                      "step": 5,
                      "label": "Margin Bottom",
                      "unit": "px",
                      "default": 0
                    },
                    {
                      "type": "header",
                      "content": "Mobile Device"
                    },
                    {
                      "type": "range",
                      "id": "section_margin_top_xs",
                      "min": 0,
                      "max": 150,
                      "step": 5,
                      "label": "Margin Top",
                      "unit": "px",
                      "default": 0
                    },
                    {
                      "type": "range",
                      "id": "section_margin_bottom_xs",
                      "min": 0,
                      "max": 150,
                      "step": 5,
                      "label": "Margin Bottom",
                      "unit": "px",
                      "default": 0
                    }
                  ]
               },
               {
                  "type": "section_padding",
                  "name": "Section Padding",
                  "limit": 1,
                  "settings": [
                    {
                      "type": "header",
                      "content": "Large/Desktop/Tablate Device"
                    },
                    {
                      "type": "range",
                      "id": "section_padding_top",
                      "min": 0,
                      "max": 150,
                      "step": 5,
                      "label": "Padding Top",
                      "unit": "px",
                      "default": 50
                    },
                    {
                      "type": "range",
                      "id": "section_padding_bottom",
                      "min": 0,
                      "max": 150,
                      "step": 5,
                      "label": "Padding Bottom",
                      "unit": "px",
                      "default": 85
                    },
                    {
                      "type": "header",
                      "content": "Mobile Device"
                    },
                    {
                      "type": "range",
                      "id": "section_padding_top_xs",
                      "min": 0,
                      "max": 150,
                      "step": 5,
                      "label": "Padding Top",
                      "unit": "px",
                      "default": 30
                    },
                    {
                      "type": "range",
                      "id": "section_padding_bottom_xs",
                      "min": 0,
                      "max": 150,
                      "step": 5,
                      "label": "Padding Bottom",
                      "unit": "px",
                      "default": 65
                    }
                  ]
               },
               {
                  "type": "section_background",
                  "name": "Section Background",
                  "limit": 1,
                  "settings": [
                    {
                      "type": "image_picker",
                      "id": "section_bg_image",
                      "label": "BG Image"
                    },
                    {
                      "type": "color",
                      "id": "section_bg_color",
                      "label": "BG Color",
                      "default": "#ffffff"
                    }
                  ]
               }

            ],

        "presets":[
                {
                    "name": "Shop Collection / Product",
                    "category": "2. Banner",
                    "blocks":[
                        {
                            "type": "shop_collection"
                        },
						{
                            "type": "shop_collection"
                        },
						{
                            "type": "shop_collection"
                        },
						{
                            "type": "shop_collection"
                        }
						
                    ]
                }
            ]


 	 }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

