<div class="slider-area" id="section-{{ section.id }}">
  <div class="single-main-slider bg-img slider-height-3 align-items-center custom-d-flex" style="background-image:url({% if section.settings.slider_img %}{{ section.settings.slider_img | img_url: 'master' }}{% else %}https://via.placeholder.com/1920x910{% endif %});">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="main-hero-content-1">
            {%if section.settings.slider_sub_title != '' %}
            <h3>{{ section.settings.slider_sub_title }}</h3>
            {%endif%}
            {%if section.settings.slider_title != '' %}
            <h1>{{ section.settings.slider_title }}</h1>
            {%endif%}
            {%if section.settings.slider_des != '' %}
            <p>{{ section.settings.slider_des }}</p>
            {%endif%}
            
            {% if section.settings.slider_button != '' %}
            <div class="slider-btn-2 btn-hover">
              <a class="animated slider-btn-2-bg-yellow slider-btn-2-ptb bg-black-hover" href="{{ section.settings.slider_button_url }}">{{ section.settings.slider_button }} </a>
            </div>
            {% endif %}

            <div class="coupoun-version-wrap">
              {% if section.settings.get_coupoun_code != '' %}
              <a href="{{ section.settings.get_coupoun_code_url }}">{{ section.settings.get_coupoun_code }}</a>
              {% endif %}
              {% if section.settings.kindle_version != '' %}
              <a href="{{ section.settings.kindle_version_url }}">{{ section.settings.kindle_version }}</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% if section.settings.banner_thumb_img %}
    <div class="hero-book-img-position">
      <img src="{{ section.settings.banner_thumb_img | img_url: 'master' }}" class="lazyload" alt="">
    </div>
    {% endif %}
  </div>
</div>





{%- style -%}
  #section-{{ section.id }}{
    {%- for block in section.blocks -%}
    {%- case block.type -%}
    {%- when 'section_margin' -%}
    margin-top: {{ block.settings.section_margin_top }}px;
    margin-bottom: {{ block.settings.section_margin_bottom }}px;
    {%- when 'section_padding' -%}
    padding-top: {{ block.settings.section_padding_top }}px;
    padding-bottom: {{ block.settings.section_padding_bottom }}px;
    {%- when 'section_background' -%}    
    background: {{ block.settings.section_bg_color }} 
      {%- if block.settings.section_bg_image -%}url("{{ block.settings.section_bg_image | img_url: 'master' }}"){%- endif -%} no-repeat scroll center center / cover;
    {%- endcase -%}
    {%- endfor -%}
  }
  @media (min-width: 768px) and (max-width: 991px) {
    #section-{{ section.id }}{
      {%- for block in section.blocks -%}
      {% case block.type %}
      {%- when 'section_margin' -%}
      margin-top: {{ block.settings.section_margin_top_md }}px;
      margin-bottom: {{ block.settings.section_margin_bottom_md }}px;
      {%- when 'section_padding' -%}
      padding-top: {{ block.settings.section_padding_top_md }}px;
      padding-bottom: {{ block.settings.section_padding_bottom_md }}px;
      {%- endcase -%}
      {%- endfor -%}
    }
  }
  @media (max-width: 767px) {
    #section-{{ section.id }}{
      {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'section_margin' -%}
      margin-top: {{ block.settings.section_margin_top_xs }}px;
      margin-bottom: {{ block.settings.section_margin_bottom_xs }}px;
      {%- when 'section_padding' -%}
      padding-top: {{ block.settings.section_padding_top_xs }}px;
      padding-bottom: {{ block.settings.section_padding_bottom_xs }}px;
      {%- endcase -%}
      {%- endfor -%}
    }
  }


{% if section.settings.slider_content_enable %}
  .main-hero-content-1 h1 {
	color: {{ section.settings.slider_title_color }};
  }
  .main-hero-content-1 h3 {
	color: {{ section.settings.slider_sub_title_color }};
  }
  .main-hero-content-1 p {
	color: {{ section.settings.slider_discount_color }};
  }

  .slider-btn-2 a.slider-btn-2-bg-yellow {
    color: {{ section.settings.slider_button_color }};
    background: {{ section.settings.slider_button_bg_color }};
  }
  .btn-hover a.bg-black-hover::after {
      background: {{ section.settings.slider_button_bg_hover_color }};
  }

  .slider-btn-2 a:hover {
    color: {{ section.settings.slider_button_color_hov }};
  }
  .main-hero-content-1 .coupoun-version-wrap a {
    color: {{ section.settings.coupoun_color }}
  }
  .main-hero-content-1 .coupoun-version-wrap a:hover {
    color: {{ section.settings.coupoun_color_hov }}
  }

{%endif%}

{%- endstyle -%}



{% schema %}
  {
    "name": "Slider Two",
    "settings": [
        {
          "type": "image_picker",
          "id": "slider_img",
          "label": "Slide Image",
          "info": "Recommended Size: 1920x943px"
        },
		{
          "type": "image_picker",
          "id": "banner_thumb_img",
          "label": "Banner Thumbnail Image",
          "info": "Recommended Size: 151x151px"
        },
        {
          "type": "text",
          "id": "slider_title",
          "label": "Banner Title",
          "default": "The Wonderful <br>ThingsYou Will Be"
        },
        {
          "type": "text",
          "id": "slider_button",
          "label": "Button Text",
          "default": "Shop now"
        },
        {
          "type": "url",
          "id": "slider_button_url",
          "label": "Button URL"
        },
		{
          "type": "text",
          "id": "get_coupoun_code",
          "label": "Get Coupoun Code",
          "default": "Get Coupoun Code"
        },
        {
          "type": "url",
          "id": "get_coupoun_code_url",
          "label": "Get Coupoun Code URL"
        },
		{
          "type": "text",
          "id": "kindle_version",
          "label": "Kindle Version",
          "default": "Kindle Version"
        },
        {
          "type": "url",
          "id": "kindle_version_url",
          "label": "Kindle Version URL"
        },
        {
          "type": "text",
          "id": "slider_sub_title",
          "label": "Sub Title"
        },
		{
          "type": "textarea",
          "id": "slider_des",
          "label": "Banner Description"
        },
        {
          "type": "header",
          "content": "Slider Content Style"
        },
        {
          "type": "checkbox",
          "id": "slider_content_enable",
          "label": "Slider Content Style Enable",
          "default": true
        },
		{
          "type": "color",
          "id": "slider_title_color",
          "label": "Slider Title Color",
          "default": "#1b1b1b"
        },
        {
          "type": "color",
          "id": "slider_sub_title_color",
          "label": "Slider Sub title Color",
          "default": "#1b1b1b"
        },
        {
          "type": "color",
          "id": "slider_discount_color",
          "label": "Slider Discount Color",
          "default": "#1b1b1b"
        },
        {
          "type": "color",
          "id": "slider_button_color",
          "label": "Slider Button Color",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "slider_button_bg_color",
          "label": "Slider Button BG Color",
          "default": "#ff6e21"
        },
        {
          "type": "color",
          "id": "slider_button_color_hov",
          "label": "Slider Button Hover Color",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "slider_button_bg_hover_color",
          "label": "Slider Button Hover BG Color",
          "default": "#000"
        },
		{
          "type": "color",
          "id": "coupoun_color",
          "label": "Coupoun & Kindle Color",
          "default": "#1b1b1b"
        },
		{
          "type": "color",
          "id": "coupoun_color_hov",
          "label": "Coupoun & Kindle Hover Color",
          "default": "#1b1b1b"
        }

		
	],
	"blocks":[
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablat Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablat Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Slider Two",
		  "category": "1. slideshow",
		  "blocks":[
				
			]
		}
	]
  }
{% endschema %}




