{%- assign sset = section.settings -%}
{%- if sset.show_team_section -%}
<div class="team-area pt-120 pb-90" id="section-{{ section.id }}">
  <div class="container{% if section.settings.fullwidth_on %}-fluid{%endif%}">
    {%- if sset.team_title != '' or sset.team_subtitle != '' -%}
    <div class="section-title-2 text-center mb-50">
      {%- if sset.team_title != '' -%}
      <h2>{{ sset.team_title }}</h2>
      {%- endif -%}

      {%- if sset.team_subtitle != '' -%}
      <p>{{ sset.team_subtitle }}</p>
      {%- endif -%}
    </div>
    {%- endif -%}
    
    
    <div class="row">
      {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'team_member' -%}
      {%- assign bset = block.settings -%}
      
      <div class="col-lg-{{ sset.member_col_lg }} col-md-{{ sset.member_col_md }} col-sm-{{ sset.member_col_sm }}">
        <div class="team-wrapper mb-30">
          <div class="team-img">
            <a href="#">
              {%- if bset.member_img -%}
              <img src="{{ bset.member_img | img_url: 'master' }}" alt="{{ image.alt }}">
              {%- else -%}
              <img src="https://via.placeholder.com/270x330" alt="placeholder-img">
              {%- endif -%}
            </a>
            <div class="team-action">
              {%- if bset.show_fb -%}
              <a class="facebook" href="{{ bset.fb_url }}">
                <i class="ti-facebook"></i>
              </a>
              {%- endif -%}
              {%- if bset.show_twitter -%}
              <a class="twitter" href="{{ bset.twitter_url }}">
                <i class="ti-twitter-alt"></i>
              </a>
              {%- endif -%}
              {%- if bset.show_instagram -%}
              <a class="instagram" href="{{ bset.instagram_url }}">
                <i class="ti-instagram"></i>
              </a>
              {%- endif -%}
            </div>
          </div>
          <div class="team-content text-center">
            {%- if bset.member_desig != '' -%}
            <h4>{{ bset.member_name }}</h4>
            {%- endif -%}
            {%- if bset.member_desig != '' -%}
            <span>{{ bset.member_desig }}</span>
            {%- endif -%}
          </div>
        </div>
      </div>
      {%- endcase -%}
      {%- endfor -%}
      
    </div>
  </div>
</div>

{%- endif -%}


{%- include 'section-style' -%}


{% schema %}
  {
    "name": "Team Members",
    "settings": [
        {
            "type": "checkbox",
            "id": "show_team_section",
            "label": "Show Team Member",
            "default": true
        },
		{
            "type": "checkbox",
            "id": "fullwidth_on",
            "label": "Full Width Enable",
            "default": true,
            "info": "If you want Full Width click checkbox"
        },
        {
            "type": "text",
            "id": "team_title",
            "label": "Section Title",
            "default": "Team Members"
        },
        {
            "type": "textarea",
            "id": "team_subtitle",
            "label": "Section Sub-title",
            "default": "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical"
        },
        {
            "type": "select",
            "id": "member_col_lg",
            "label": "Column for LG",
            "options":[
                {
                  "label": "2",
                  "value": "6"
                },
                {
                  "label": "3",
                  "value": "4"
                },
                {
                  "label": "4",
                  "value": "3"
                },
				{
                  "label": "6",
                  "value": "2"
                }
            ],
            "default": "3"
        },
		{
            "type": "select",
            "id": "member_col_md",
            "label": "Column for MD",
            "options":[
                {
                  "label": "2",
                  "value": "6"
                },
                {
                  "label": "3",
                  "value": "4"
                },
                {
                  "label": "4",
                  "value": "3"
                },
				{
                  "label": "6",
                  "value": "2"
                }
            ],
            "default": "6"
        },
		{
            "type": "select",
            "id": "member_col_sm",
            "label": "Column for SM",
            "options":[
                {
                  "label": "2",
                  "value": "6"
                },
                {
                  "label": "3",
                  "value": "4"
                },
                {
                  "label": "4",
                  "value": "3"
                },
				{
                  "label": "6",
                  "value": "2"
                }
            ],
            "default": "6"
        }
	],
    "blocks": [
        {
            "type": "team_member",
            "name": "Team Member",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "member_img",
                    "label": "Image",
                    "info": "Recommended size: 270x330px"
                },
                {
                    "type": "text",
                    "id": "member_name",
                    "label": "Name",
                    "default": "Mr. Mike Banding"
                },
                {
                    "type": "text",
                    "id": "member_desig",
                    "label": "Designation",
                    "default": "Manager"
                },
                {
                    "type": "header",
                    "content": "Member Social"
                },
                {
                    "type": "checkbox",
                    "id": "show_fb",
                    "label": "Show Facebook",
                    "default": true
                },
                {
                    "type": "url",
                    "id": "fb_url",
                    "label": "Facbook URL"
                },
                {
                    "type": "checkbox",
                    "id": "show_twitter",
                    "label": "Show Twitter",
                    "default": true
                },
                {
                    "type": "url",
                    "id": "twitter_url",
                    "label": "Twitter URL"
                },
                {
                    "type": "checkbox",
                    "id": "show_instagram",
                    "label": "Show Instagram",
                    "default": true
                },
                {
                    "type": "url",
                    "id": "instagram_url",
                    "label": "Instagram URL"
                }
			]
		},
	    {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 65
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 45
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 50
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 30
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
    "presets":[
      {
        "name": "Team Members",
        "category": "6. Services",
        "blocks":[
          {
            "type": "team_member"
          },
          {
            "type": "team_member"
          },
          {
            "type": "team_member"
          },
          {
            "type": "team_member"
          }
        ]
      }
    ]
  }
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}