<div class="main-wrapper">
  <div class="comming-soon-area height-100vh" style="background-image:url({% if settings.opps_404 %}{{ settings.opps_404 | img_url: 'master' }}{% else %}https://via.placeholder.com/1920x1090 {% endif %});">
    <div class="container-fluid p-0 height-100vh">
      <div class="row no-gutters align-items-center height-100vh">
        <div class="col-lg-12">
          <div class="error-content text-center">
            {% if settings.heading_404 !='' %}
            <h1>{{ settings.heading_404 }}</h1>
            {% endif %}
            {% if settings.sub_text_404 !='' %}
            <h3>{{ settings.sub_text_404 }}</h3>
            {% endif %}
            {% if settings.button_title !='' %}
            <div class="error-btn btn-hover">
              <a class="bg-black-hover" href="{{ settings.button_url }}">{{ settings.button_title }}</a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

