{% layout none %}
<!DOCTYPE html>
<html>

<head>
  <!-- Basic and Helper page needs -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {%- if settings.favicon != blank -%}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {%- endif -%}

  <!-- Title and description -->
  {% capture seo_title %}
  {{ page_title }}
  {% if current_tags %}
  {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
  {% endif %}
  {% if current_page != 1 %}
  &ndash; {{ 'general.meta.page' | t: page: current_page }}
  {% endif %}
  {% unless page_title contains shop.name %}
  &ndash; {{ shop.name }}
  {% endunless %}
  {% endcapture %}
  <title>{{ seo_title }}</title>

  {%- if page_description -%}
  <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}
  
  <!-- Remove this link -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  {{ 'password-plugin.css' | asset_url | stylesheet_tag }}
  {{ 'password-style.css' | asset_url | stylesheet_tag }}
  {{ 'password-responsive.css' | asset_url | stylesheet_tag }}
  
  
  <style type="text/css">
    ul, ol {
      margin-bottom: 13px;
      margin-left: 15px;
    }
    ol {
      margin-left: 25px;
    }
    #footer {
      margin-top: 15px;
      font-size: 13px;
      color: #ffffff;
      text-shadow: 0 1px rgba(255,255,255,0.4);
      text-align: center;
      position: relative;
      z-index: 99;
    }
    #powered {
      color: #ffffff;
      display: block;
      margin-top: 15px;
    }

    #powered a {
      background-repeat: no-repeat;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAQCAYAAADJViUEAAACl0lEQVR4AW2RS2jcdRSFv3v/j5nJOBnbJCba0DQ2qU1aqw0oOqB0oxbB564gFLvothvBlWQjuJBCwcfOhYouBF2ILlMsFKWSIopFFNNSkyxaqxPzmJn/43evmUVpFv3gu9zNgQNHuAsfnn/2tLufcHgI9E3gU+6CvL/wHDsR/A3EDwiy6HAMmBbxsze+a30BGDuQ+fl5brP76Uv7I7GXFTbMfVTQKyL+tigzS9ey9fWOvxaJXQTaAPHN0QVuMyq14+Ycd5EN8FcQQ1QA2Owy2F4LXw/tilZ0WGaAzViGI2ZHKlO4f4xErTJsspW1EVEiTRisDeMugCMIvYzx5rruAX7XZF3B/flI4lY3b6OS0Jo6zUtH3+WJB0/hGEUoMAONIAQnTayxLXH/CLKvV25QTZq8OneOseYMANfTXfy0/BkeKpiBCAAUBU8Ci/H2g+OjWbHJ45Mn6Qcv/PEeW9mtbf8BDJUUsx4i9CUrbApAJw/URsR9QkTZXd8LgJtx/rezXP37Io3qfQRzzB1BKEsH9B5QNAphjyN7BeHPGxcAOHbwDCdbnxNrhcI6uDkh3Klt5nMDDZ1Q7++p+kA1GeSHpY/48vIZAB4ef5HJkRbdfA1zcHdEQFUIwafzzPepIuO9/L/o/uZhXnj0Hda6K2z0bgKQRnXcA2bgDgAIFAUDsXotdnx/GXrU0ub2NK/3BaDdWWa5fZlq0qDXcXZkcRArORqDHqpXhrl663u+/eUtDo49Q1Zu8eO1T+jk/3JvfQizHBzgToO8sMdicf9AJFpy84krq9/M/rzy1bS4RNV0kHo6BBghQBkcd4hjQRWynJqcOvcUO5l7pDGmhMPudgQ4lCZ65K/VfPb6arlVH5AFVX6tVHUxmF/6H+vwKe+hBs8sAAAAAElFTkSuQmCC);
      padding-left: 21px;
      text-decoration: none;
    }
    #powered a:hover {
      text-decoration: underline;
    }
    .errors {
      padding: 4px 5px;
      font-size: 15px;
      color: #7e1412;
      display: block;
      margin-bottom: 15px;
    }
    .errors ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    .center {
      text-align: center;
      display: block;
      font-size: 17px;
    }
    .overlay::before {
      background-color: {{ settings.password_overlay_color }};
      opacity: {{ settings.password_overlay_color_opacity }};
    }
  </style>
</head>
<body>
{%comment%} 
  <div class="main-wrapper">
    <div class="comming-soon-area height-100vh {% unless settings.full_page_bg_image %}gradient-bg{% endunless %}" {% if settings.full_page_bg_image %}
       style="background-image: url({{ settings.full_page_bg_image | img_url: 'master' }});"
       {% endif %}>
      <div class="container-fluid p-0 height-100vh">
        <div class="row no-gutters align-items-center height-100vh">
          <div class="col-lg-12">
            <div class="comming-soon-content text-center">
              {%- if settings.password_logo -%}
              <div class="logo">
                <a href="/">
                  <img src="{{ settings.password_logo | img_url: 'medium' }}" alt="">
                </a>
              </div>
              <br/><br/>
              {%- endif -%}
              {%- if settings.comming_soon_title != '' -%}
              <h1>{{ settings.comming_soon_title }}</h1>
              {%- endif -%}
              {% if settings.comming_soon_content != '' %}
              <p>{{ settings.comming_soon_content }}</p>
              {%- endif -%}
              {%- if settings.countdown_enable -%}
              <div class="timer comming-soon-timer">
                <div class="{% if settings.countdown_style_handle == 'countdown_style_1' %}DateCountdown {% elsif settings.countdown_style_handle == 'countdown_style_2' %}DateCountdownTwo{% endif %}" data-date="{{ settings.opening_date }} 00:00:00"></div>
              </div>
              {%- endif -%}
              <div class="comming-soon-btn btn-hover">
                <a class="bg-black-hover" href="index.html">Get Notifi</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {%endcomment%} 
  
  
  <!-- Slider Start -->
  <div class="comming-soon-area-2 comming-soon-white height-100vh d-flex align-items-center bg-img overlay
       {% unless settings.full_page_bg_image %}gradient-bg{% endunless %}" 
       {% if settings.full_page_bg_image %}
       style="background-image: url({{ settings.full_page_bg_image | img_url: 'master' }});"
       {% endif %}>
    <div class="container">
      <div class="row">
        <div class="{% if settings.countdown_style_handle == 'countdown_style_2' %}col-xl-8{% endif %} col-lg-10 ml-auto mr-auto">
          <div class="comming-soon-wrap text-center">
            {%- if settings.heading_enable -%}
            <div class="comming-soon-top">
              {%- if settings.password_logo -%}
              <div class="logo">
                <a href="/">
                  <img src="{{ settings.password_logo | img_url: 'medium' }}" alt="">
                </a>
              </div>
              {%- endif -%}
              {%- if settings.comming_soon_title != '' -%}
              <h3>{{ settings.comming_soon_title }}</h3>
              {%- endif -%}
              {% if settings.comming_soon_content != '' %}
              <p>{{ settings.comming_soon_content }}</p>
              {%- endif -%}
            </div>
            {%- endif -%}
            {%- if settings.countdown_enable -%}
            <div class="{% if settings.countdown_style_handle == 'countdown_style_2' %}DateCountdownTwo{% elsif settings.countdown_style_handle == 'countdown_style_1' %}DateCountdown{% endif %}" data-date="{{ settings.opening_date }} 00:00:00"></div>
            {%- endif -%}
          </div>	
        </div>
      </div>
      {%- if settings.subscribe_field_enable -%}
      <div class="row">
        <div class="col-xl-6 col-lg-8 col-md-10 ml-auto mr-auto">
          <div class="subscribe-area subscribe-style-2 mt-80 mtxs-50 text-center">
            {%- if settings.subscribe_title != '' -%}
            <h4>{{ settings.subscribe_title }}</h4>
            {%- endif -%}
            <div id="mc_embed_signup" class="subscribe-form">
              <form action="{{ settings.newsletter_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll" class="mc-form">
                  <input type="email" value="" name="EMAIL" class="email" placeholder="{{ settings.email_placeholder_title }}" required>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div class="mc-news" aria-hidden="true"><input type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef" tabindex="-1" value=""></div>
                  <div class="clear"><input type="submit" value="{{ settings.subscribe_button_title }}" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      {%- endif -%}

      {%- if settings.store_password_enable -%}
      <div class="row">
        <div class="col-xl-6 col-lg-8 col-md-10 ml-auto mr-auto">
          <div class="subscribe-area subscribe-style-2 mt-80 mtxs-50 text-center">
            {%- if shop.password_message and shop.password_message != '' -%}
            <h4>{{ shop.password_message }}</h4>
            {%- else -%}
            <h4>Visit your store</h4>
            {%- endif -%}
            <div id="mc_embed_signup" class="subscribe-form">
              {% form 'storefront_password' %}
              <input class="email" type='password' name='password' id='password' placeholder="{{ settings.password_placeholder_title }}" autofocus> 
              <div class="clear"><input class="button" name="commit" type="submit" value="Enter"></div>           
              {{ form.errors | default_errors }}
              {% endform %}
            </div>
          </div>
          {%- if settings.password_action_field_enable -%}
          <div id='footer'>
            <div id='owner'>Are you the store owner? <a href="/admin">Log in here</a> or <a href="/admin/online_store/preferences?tutorial=unlock">change your password settings</a></div>
            <div id='powered'>
              This store is powered by <a href="//www.shopify.com" target="_blank" title="Create your own online store with Shopify" rel="nofollow">Shopify</a>
            </div>
          </div>
          {%- endif -%}
        </div>
      </div>
      {%- endif -%}
    </div>
  </div>
  
  
 

  <script type="text/javascript">
    document.getElementById('password').focus();
  </script>
  
  <style>
    .gradient-bg {
      background: rgba(0, 0, 0, 0) linear-gradient(to bottom, {{ settings.gradiant_bg_color_1 }} 0%, {{ settings.gradiant_bg_color_2 }} 100%) repeat scroll 0 0;
    }
  </style>

  <!-- Your update file include here -->
  <script src="{{ 'modernizr-3.5.0.min.js' | asset_url }}"></script>
  <script src="{{ '//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js' }}"></script>

  <!-- Remove this js link -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- Your main.js file upload this file -->
  <script src="{{ 'password-plugin.js' | asset_url }}"></script>
  <script src="{{ 'password-theme.js' | asset_url }}"></script>

</body>
</html>
